body{
    font-family: 'Shippori Mincho', serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
    margin-top: 50px;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-right: 2%;
    padding-left: 11%;
}

.Order-Food-Button{
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(orange,tomato);
    padding: 13px 25px;
    border-radius: 30px;
    color: white;
    font-weight: 800;
}
p{
   font-size: 20px; 
}
.Contact-me-button{
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(orange,tomato);
    padding: 13px 25px;
    border-radius: 30px;
    color: white;
    font-weight: 800;
}
.middle-banner{
    background-image: url(Banner.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.reset-text{
    margin-top: 77px;
}